<h1>Classroom list</h1>
<ul>
{% for course in object_list %}
  <li>{{ course.subject }}</li>
  <ul>
  {% for classroom in course.classrooms.all %}
    <li>{{ classroom.location }}</li>
    <li>{{ classroom.datetime_from }}</li>
    <li>{{ classroom.datetime_to }}</li>
    <h4>Registered students:</h4>
    {% for register in classroom.registrations.all %}
        <li><a href={{ register.student.get_absolute_url }}>{{ register.student.bio }}</a></li>
    {% endfor %}
  {% endfor %}
  </ul>
{% endfor %} 

</ul>